<template>
  <div>
    <div>
      <Table :height="300"
             :columns="[columnsMessages.Total, columnsMessages.From, columnsMessages.To, columnsMessages.Sum]"
             :data="transactionList"
             border
             stripe />
    </div>
  </div>
</template>

<script>

export default {
  name: 'ShowBitcoinTransaction',
  props: {
    transactionList: {
      type: Array,
      default: () => { return [] }
    }
  },
  data () {
    return {
      groupsMessages: [],
      columnsMessages: {
        From: {
          title: 'From',
          key: 'inputs',
          align: 'left',
          width: 390,
          render: (h, params) => {
            var self = this
            return self.$_getAddrItems(h, params.row.inputs)
          }
        },
        To: {
          title: 'To',
          key: 'out',
          align: 'left',
          width: 390,
          render: (h, params) => {
            var self = this
            return self.$_getAddrItems(h, params.row.out)
          }
        },
        Sum: {
          title: 'Sum',
          key: 'inputs',
          width: 150,
          fixed: 'left',
          render: (h, params) => {
            var self = this
            return self.$_getValueItems(h, params.row.inputs)
          }
        },
        Total: {
          title: 'Total Sum BTC',
          key: 'totalSum',
          sortable: true,
          width: 170,
          fixed: 'left',
          render: (h, params) => {
            return h('span', {
                style: {
                  align: 'left',
                  fontSize: '12px',
                  display: 'inline'
                }
              }, params.row.totalSum)
          }
        }
      }
    }
  },
  methods: {
    $_getAddrItems (h, data) {
      return data.map((element, k) => {
         return [ h('div', {
            style: {
              fontSize: '12px'
            }
          }, ' '),
        h('a', {
          style: {
            fontSize: '12px',
            color: (k % Number(2)) === 0 ? '#0080ff' : '#4000ff',
            display: 'inline'
          }
        }, element.addr)
       ]
      })
    },
    $_getValueItems (h, data) {
      return data.map(element => {
         return [ h('div', {
            style: {
              fontSize: '12px'
            }
          }, ' '),
        h('span', {
          style: {
            fontSize: '12px',
            display: 'inline'
          }
        }, element.value)
       ]
      })
    }
  }
}
</script>
