.container {
  width: 100%;
  max-width: 1024px;
  padding: 15px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-flow: row wrap;
  width: 300px;
}
.item {
  width: 80px;
}
.b-aligment {
  text-align: center;
  padding: 15px 10px;
}
.b-space-betweent {
  width: 400px;
  padding: 35px 0px;
  justify-content: flex-start;
}
.b-position {
  height: 15px;
  justify-content: flex-start; 
}
.b-space-betweent .b-container {
  width: 500px; /* устанавливаем ширину блока */
  height: 30px;  /* устанавливаем высоту блока */
}
.box {
  display: flex;
  flex-wrap: wrap;
}
.button-block {
  width: 500px;
  justify-content: start;
}
.count-block {
  width: 509px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-start;
  padding: 30px 0;
  font-size: 14px;
  font-weight: bold;
}
.isNotvalid {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.isValid {
  cursor: pointer;
  pointer-events: visible;
  opacity: 1;
}