<template>
  <div>
    <div><a href="#/">стартовая страница</a></div>
    <div><a href="#/interactiveDesktop">перейти на интерактивный рабочий стол</a></div>
    <div class="b-aligment">
      <h2>{{ today }}</h2>
    </div>
    <div class="box button-block">
      <div class="b-aligment">
        <Button type="success" @click="$_start()">Запуск</Button>
      </div>
      <div class="b-aligment">
        <Button type="error" @click="$_stop()">Остановка</Button>
      </div>
      <div class="b-aligment">
        <Button type="warning" @click="$_reset()">Сброс</Button>
      </div>
    </div>
    <div class="box count-block">
      <div>Получено запросов транзакций: {{ requestCount }} </div>
      <div>Количество отображаемых транзакций: {{ nextPosition }} </div>
    </div>
    <ShowBitcoinTransaction :transaction-list="$_transactionsInformation" />
  </div>
</template>

<script>
import ShowBitcoinTransaction from '../views/ShowBitcoinTransaction'
import Aides from '../../mixins/Aides.js'

export default {
  name: 'BitcoinInformation',
  components: {
    ShowBitcoinTransaction
  },
  mixins: [Aides],
  data () {
    return {
      today: 'Взаимодействие с сервером по протоколу websocket',
      transactionList: [],
      transactionsInformation: [],
      nextPosition: 0,
      requestCount: 0,
      totalSum: 0,
      periodLoading: 1000,
      loadTrigger: true,
      catchUp: false
    }
  },
  computed: {
    $_transactionList: {
      get () {
        return this.transactionList
      },
      set (val) {
        this.transactionList = val
      }
    },
    $_transactionsInformation: {
      get () {
        return this.transactionsInformation
      },
      set (val) {
        this.transactionsInformation = val
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.$_webSocketListener()
    })
  },
  methods: {
    $_registrationTransaction () {
      this.requestCount++
    },
    $_resetContainers () {
      this.$_transactionList = []
      this.$_transactionsInformation = []
      this.catchUp = false
      this.requestCount = 0
      this.$_resetTotalSum()
      this.nextPosition = 0
      this.loadTrigger = true
    },
    $_isEqual () {
      return this.requestCount > this.nextPosition
    },
    $_continueDisplaying () {
      setTimeout(() => {
        if (this.catchUp) {
          if (this.$_isEqual()) {
            this.$_addNewTransaction()
            this.$_continueDisplaying()
          }
        }
      }, this.periodLoading)
    },
    $_reset () {
      this.$_resetContainers()
      setTimeout(() => {
          this.$_start()
        }, 1000)
    },
    $_stop () {
      this.$socket.sendObj({'op': 'unconfirmed_unsub'})
      this.catchUp = true
      this.$_continueDisplaying()
    },
    $_start () {
        this.catchUp = false
        this.$socket.sendObj({'op': 'ping'})
        this.$socket.sendObj({'op': 'unconfirmed_sub'})
    },
    $_webSocketListener () {
      this.$options.sockets.onmessage = (data) => {
        let originalData = JSON.parse(data.data)
        if (originalData.op === 'utx') {
          this.$_registrationTransaction()
          this.$_getTransactionList(originalData)
        }
      }
    },
    $_getInputsData (data) {
      return data.reduce((list, item) => {
        if (item['prev_out'] && item['prev_out'].addr !== null) {
          let value = this.getBTC(item['prev_out'].value)
          this.totalSum = this.calculateSum(this.totalSum, value)
          list.push({addr: item['prev_out'].addr, value: value})
        }
        return list
      }, [])
    },
    $_getOutData (data) {
      return data.reduce((list, item) => {
        if (item.addr !== null) {
          list.push({addr: item.addr, value: this.getBTC(item.value)})
        }
        return list
      }, [])
    },
    $_getTransactionList (data) {
      this.$_resetTotalSum()
      var bitObject = {
        inputs: this.$_getInputsData(data.x.inputs),
        out: this.$_getOutData(data.x.out),
        totalSum: this.totalSum
      }
      this.$_transactionList.push(bitObject)
      this.$_startDisplaying()
    },
    $_startDisplaying () {
      if (this.loadTrigger) {
        this.$_addNewTransaction()
        this.loadTrigger = false
      }
    },
    $_addNewTransaction () {
      this.$_runProcess().then(result => {
        this.nextPosition++
      },
      error => {
        console.log('Rejected: ' + error)
      })
    },
    $_runProcess () {
      return new Promise((resolve, reject) => {
        setTimeout(() => {
          if (this.$_isEqual()) {
            if (this.transactionList[this.nextPosition] !== undefined) {
              this.$_transactionsInformation.push(this.$_transactionList[this.nextPosition])
              this.loadTrigger = true
            }
            resolve()
          }
          else {
            reject(new Error('timeOut!'))
          }
        }, this.periodLoading)
      })
    },
    $_resetTotalSum () {
      this.totalSum = 0
    }
  }
}
</script>
