<template>
  <div>
    <nav>
      <ul>
        <li><a href="#/interactiveDesktop">перейти на интерактивный рабочий стол</a></li>
        <li><a href="#/bitcoinInformation">перейти на страницу взаимодействие с сервером по протоколу websocket</a></li>
      </ul>
    </nav>
  </div>
</template>

<script>
  export default {
    name: 'IndexPage'
  }
</script>
