<template>
  <div>
    <div><a href="#/">стартовая страница</a></div>
    <div><a href="#/bitcoinInformation">перейти на страницу взаимодействие с сервером по протоколу websocket</a></div>
    <div class="i-title"><h2>{{ today }}</h2></div>
    <div id="header-box" class="basic-grid">
      <div v-for="(item, index) in $_layerList"
           :id="['child-' + item.id]"
           :key="index"
           :class="[{activeBox: (item.selected && !item.resize), notActiveBox: !item.selected},
                    {activeResize: item.resize}]"
           class="element"
           @click.self="(event) => checkClickArea(event, item)"
           @mousedown.self="(event) => onMouseDown(event, item)">{{ item.title }}</div>
    </div>
    <div class="box button-block">
      <div class="b-aligment">
        <Button :class="{isNotvalid: !showRestoreButton(), isValid: showRestoreButton()}"
                type="warning" @click="restoreElement()">Restore element</Button>
      </div>
      <div class="b-aligment">
        <Button :class="{isNotvalid: !showRemoveButton(), isValid: showRemoveButton()}"
                type="error" @click="removeElement()">Remove element</Button>
      </div>
      <div class="b-aligment">
        <Button type="success" @click="reset()">Set start positions</Button>
      </div>
    </div>
  </div>
</template>
<script>

import Aides from '../../mixins/Aides.js'
import patterns from '../../configurations/Patterns'

export default {
  name: 'InteractiveDesktop',
  components: {
  },
  mixins: [Aides],
  data () {
    return {
      listenerOptions: {
        once: true,
        passive: false,
        capture: false
      },
      doneResize: null,
      historyName: 'historyList',
      maxQuantityIds: 5,
      storageContainer: [],
      gridLeft: 0,
      gridTop: 0,
      gridRight: 0,
      gridBottom: 0,
      offsetX: 0,
      offsetY: 0,
      indexBox: -1,
      today: 'interactive Desktop',
      temporary: null,
      layerList: [],
      containEvent: () => {}

    }
  },
  computed: {
    $_layerList: {
      get () {
        return this.layerList
      },
      set (val) {
        this.layerList = val
      }
    }
  },
  beforeDestroy () {
    this.observerCancel()
  },
  mounted () {
    this.runToBuild()
  },
  methods: {
    getNoSelected () {
      return this.$_layerList.reduce((list, item) => {
        if (item.selected) {
          item.selected = false
        }
        list.push(item)
        return list
      }, [])
    },
    observerCancel () {
      if (this.doneResize !== null) {
        this.doneResize.disconnect()
      }
    },
    monitorResize () {
      this.doneResize = new MutationObserver(this.onResize)
      this.doneResize.observe(this.temporary, {
        attributes: true,
        childList: true,
        subtree: true
      })
    },
    runToBuild () {
      this.resetStorageContainer()
      this.toCheckHistoryForEmptiness()
      this.$nextTick(() => {
        this.$_layerList = this.getStorageData()
        this.$_layerList = this.getNoSelected()
        this.getElementsData()
      })
    },
    reset () {
      localStorage.clear()
      this.runToBuild()
    },
    restoreElement () {
      let lastIndex = this.getLengthLocalStorage()
      if (lastIndex > 0) {
        let index = lastIndex - 1
        let layers = this.getStorageByName(this.historyName)
        this.showLayersList(layers[index])
        this.getElementsData()
        this.removeStorageLayerFromList(index)
      }
    },
    resetStorageContainer () {
      this.storageContainer = []
    },
    getStorageData () {
      this.resetStorageContainer()
      this.storageContainer = this.getStorageByName(this.historyName) // JSON.parse(localStorage.getItem(this.historyName))
      let length = this.getLengthStorageContainer()
      return length > -1 ? this.storageContainer[length]
       : patterns.getElementslist()
    },
    $_updateLayersList (elements) {
      return elements.reduce((list, item, key) => {
        item.id = key
        item.title = item.title
        list.push(item)
        return list
      }, [])
    },
    showLayersList (list) {
      this.$_layerList = this.$_updateLayersList(list)
    },
    saveLayerAfterRemovedBlock () {
      let index = this.getLengthLocalStorage()
      var listClone = this.getClone(this.$_layerList)
      let layer = this.makeRemovedLayerByDefault(listClone, this.indexBox)
      this.storageContainer[index] = layer
    },
    isSelectedElement () {
      let result = this.$_layerList.filter((item) => { return item.selected === true })
      return result.length > 0
    },
    removeElement () {
      if (this.$_layerList.length === 0) {
        this.indexBox = -1
      }
      if (this.indexBox > -1 && this.isSelectedElement()) {
        this.saveLayerAfterRemovedBlock()
        var list = this.$_layerList.filter((item) => { return item.id !== this.indexBox })
        this.showLayersList(list)
        this.addToStorageLayersList()
        this.getElementsData()
      }
    },
    makeRemovedLayerByDefault (data, id) {
      return data.reduce((list, item) => {
        list.push(item.id === id ? this.setDefaultData(item) : item)
        return list
      }, [])
    },
    removeLastHistory (id) {
      return this.storageContainer.reduce((list, item, key) => {
        if (key !== id) {
          list.push(item)
        }
        return list
      }, [])
    },
    removeStorageLayerFromList (index) {
      let lastIndex = this.getLengthLocalStorage()
      this.storageContainer = this.removeLastHistory(lastIndex)
      this.addNewStage(this.historyName, this.storageContainer)
    },
    addToStorageLayersList () {
      this.storageContainer.push(this.$_layerList)
      this.addNewStage(this.historyName, this.storageContainer)
    },
    toCheckHistoryForEmptiness () {
      if (!this.isStorageExists(this.historyName)) {
        this.storageContainer.push(patterns.getElementslist())
        this.addNewStage(this.historyName, this.storageContainer)
      }
    },
    isResizeActiveArea (current) {
      let eResizeActiveArea = 20
      let activeHeight = this.subtractionResult(current.h, eResizeActiveArea)
      let activeWidth = this.subtractionResult(current.w, eResizeActiveArea)
      return this.isFirstValueMore(event.layerY, activeHeight) &&
        this.isFirstValueMore(event.layerX, activeWidth) &&
        this.isFirstValueMore(current.h, event.layerY) &&
        this.isFirstValueMore(current.w, event.layerX)
    },
    checkClickArea (event, item) {
      this.observerCancel()
      event.target.removeEventListener('mousemove', this.onMouseMove)
      if (this.isResizeActiveArea(item)) {
        this.prepareItemData(event, item)
        this.getLexicalArea(event, item)
        this.monitorResize()
        event.target.addEventListener('mouseup', (event) => this.onResizeMouseUp(event, item), this.listenerOptions)
      }
    },
    addClass (acive, name) {
      acive.removeAttribute('class')
      acive.setAttribute('class', 'element notActiveBox')
    },
    onResizeMouseUp (event, item) {
      event.target.ondragstart = function () {
        return false
      }
      this.observerCancel()
      this.takeChanges(event, item)
      this.getLexicalArea(event, item)
      event.target.setAttribute('class', 'element notActiveBox cancelResize')
    },
    isExistsClass (event, name) {
      var list = event.target.classList
      return this.checkElementAvailability(list, 'cancelResize')
    },
    toManageResize (event, item) {
      var list = event.target.classList.value.split(' ')
      if (this.checkElementAvailability(list, 'cancelResize')) {
        this.addClass(event.target, 'element notActiveBox')
        item.resize = false
        this.observerCancel()
      }
      else {
        item.resize = true
      }
    },
    onResize (mutation) {
      var data = this.containEvent()
      if (this.isOperationChange(data.event)) {
        this.toManageResize(data.event, data.item)
      }
      else {
        data.item.resize = false
        this.observerCancel()
      }
    },
    getParentBlockData () {
      var parent = document.getElementsByClassName('basic-grid')
      this.gridLeft = parent[0].offsetLeft
      this.gridTop = parent[0].offsetTop
      this.gridRight = parent[0].offsetWidth
      this.gridBottom = parent[0].offsetHeight
    },
    getLexicalArea (event, item) {
      this.resetContainEvent()
      item.resize = true
      this.containEvent = () => {
        return {
          item: item,
          event: event
        }
      }
    },
    prepareItemData (event, item) {
      this.getParentBlockData()
      this.resetTemporary()
      this.resetIndexBox()
      this.indexBox = item.id
      this.$_layerList = this.resetAllSelected()
      item.selected = true
      this.temporary = event.target
      this.resetOffSetCurrentElement()
      this.offsetX = event.offsetX
      this.offsetY = event.offsetY
    },
    onMouseDown (event, item) {
      if (!this.isResizeActiveArea(item)) {
        this.prepareItemData(event, item)
        event.target.addEventListener('mousemove', this.onMouseMove)
        event.target.addEventListener('mouseup', (event) => this.onMouseUp(event, item), this.listenerOptions)
      }
    },
    onMouseUp (event, item) {
      event.target.removeEventListener('mousemove', this.onMouseMove)
      this.takeChanges(event, item)
      event.target.ondragstart = function () {
        return false
      }
    },
    onMouseMove (event) {
      this.getCoordinate(event)
    },
    isOperationChange (event) {
      var currentPositionLeft = event.pageX - this.gridLeft - this.offsetX
      var currentPositionTop = event.pageY - this.gridTop - this.offsetY
      this.$_layerList[this.indexBox].x = event.pageX - this.gridLeft - this.offsetX // + 'px'
      this.$_layerList[this.indexBox].y = event.pageY - this.gridTop - this.offsetY // + 'px'
      var maxPositionLeft = this.getNumber(this.temporary.style.width) + currentPositionLeft
      var maxPositionTop = this.getNumber(this.temporary.style.height) + currentPositionTop
      if ((this.isFirstValueMore(this.gridRight, maxPositionLeft) && this.isFirstValueMore(this.gridBottom, maxPositionTop)) &&
      !(this.isFirstValueMore(0, currentPositionLeft) || this.isFirstValueMore(0, currentPositionTop))) {
        return true
      }
      return false
    },
    getCoordinate (event) {
      var currentPositionLeft = event.pageX - this.gridLeft - this.offsetX
      var currentPositionTop = event.pageY - this.gridTop - this.offsetY
      if (this.isOperationChange(event)) {
        this.temporary.style.left = currentPositionLeft + 'px'
        this.temporary.style.top = currentPositionTop + 'px'
      }
    },
    takeChanges (event, item) {
      this.saveActivePosition(event, item)
      this.saveLayerToStorage()
    },
    saveActivePosition (event, item) {
      item.w = this.getNumber(event.target.style.width)
      item.h = this.getNumber(event.target.style.height)
      item.y = this.getNumber(event.target.style.top)
      item.x = this.getNumber(event.target.style.left)
      item.resize = false
    },
    saveLayerToStorage () {
      let lengthLS = this.getLengthLocalStorage()
      let lengthSC = this.getLengthStorageContainer()
      if (lengthLS === lengthSC) {
        this.storageContainer[lengthSC] = this.$_layerList
        this.addNewStage(this.historyName, this.storageContainer)
      }
    },
    render (createElement) {
      return createElement('div', { class: 'container' }, [
        createElement('p', { class: 'my-awesome-class' }, 'Some cool text')
      ])
    },
    getElementsData () {
      this.$nextTick(() => {
        var parent = document.getElementById('header-box')
        let child = parent.childNodes
        child.forEach((e, k) => {
          e.style.left = this.$_layerList[k].x + 'px'
          e.style.top = this.$_layerList[k].y + 'px'
          e.style.width = this.$_layerList[k].w + 'px'
          e.style.height = this.$_layerList[k].h + 'px'
        })
      })
    },
    resetSelectedStorageId () {
      this.selectedStorageId = -1
    },
    resetIndexBox () {
      this.indexBox = -1
    },
    resetTemporary () {
      this.temporary = null
    },
    resetOffSetCurrentElement  () {
      this.offsetX = 0
      this.offsetY = 0
    },
    resetAllSelected () {
      return this.$_layerList.reduce((list, item) => {
        if (item.selected) {
          item.selected = false
          item.resize = false
        }
        list.push(item)
        return list
      }, [])
    },
    setDefaultData (item) {
      item.id = 0
      item.x = 200
      item.y = 200
      item.w = 300
      item.h = 100
      item.selected = true
      item.resize = false
      return item
    },
    getLengthLocalStorage () {
      return this.getNumberItemOfArray(this.getStorageByName(this.historyName))
    },
    getLengthStorageContainer () {
      return this.getNumberItemOfArray(this.storageContainer)
    },
    resetContainEvent () {
      this.containEvent = () => {}
    },
    isEventResize () {
      return (this.layerList[this.indexBox] !== undefined)
       ? !this.layerList[this.indexBox].resize : true
    },
    showRemoveButton () {
      return this.layerList.length > 0 && this.isEventResize()
    },
    showRestoreButton () {
      return this.storageContainer.length > 1 && this.isEventResize()
    }
  }
}
</script>

<style>

.basic-grid {
  position: relative;
  background-color: rgb(231, 238, 207);
  width: 700px;
  height: 500px;
}
.i-title {
  text-align: left;
  padding: 25px 0px;
}
.element {
  position: absolute;
  height: 100px;
  width: 300px;
  text-align: center;
  padding-top: 15px;
  background-color: rgb(255, 255, 255);
}
.activeResize {
  resize: both;
  overflow: auto;
  cursor: e-resize;
  z-index: 1000;
  background-color: rgb(128, 87, 223);
}
.cancelResize {
  cursor: pointer;
}
.nonActiveResize {
  cursor: pointer;
}
.activeBox {
  color: white;
  z-index: 1000;
  background-color: rgba(126, 47, 60, 0.555);
}
.notActiveBox {
  resize: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  z-index: 1;
  background-color: rgb(255, 255, 255);
}
</style>
