<template>
  <div>
    <div>
      <router-view name="indexPage" />
    </div>
    <div>
      <router-view name="interactiveDesktop" />
    </div>
    <div>
      <router-view name="bitcoinInformation" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MasterPanelComponent'
}
</script>
